<!DOCTYPE html>
<html>

<head>
    <title>KVV Debug</title>
</head>

<body>
    <h2>KVV App - Backend Debug Interface</h2>
    Quick overview of the current Flask backend and middleware for debugging purposes.

    <h3>Simulation:</h3>
    {{ sim }}

    <form action="{{ url_for('sim.reset_simulation')}}" method="POST">
        <button type="submit">POST/ Reset simulation</button>
    </form>


    <h3>Robots:</h3>
    {% for robot in sim.robots %}
    {{ robot }} <br>
    {% endfor %}

    <form action="{{ url_for('robot.create_new_robot')}}" method="POST">
        <button type="submit">POST/ Create a New Robot</button>
    </form>

    <br>

    <form action="{{ url_for('robot.get_robot_status')}}" method="GET">
        <label for="robot_id">Robot ID</label>
        <input name="robot_id" id="robot_id " type="number">
        <button type="submit">GET/ Look Up Robot</button>
    </form>


    <h3>Packages:</h3>
    {% for robot in sim.robots %}
    {{ robot.packages }}
    {% endfor %}
    <form action="{{ url_for('package.create_new_pkg')}}" method="POST">
        <label for="robot_id">Robot ID</label>
        <input name="robot_id" id="robot_id " type="number">

        <label for="pkg_size">Large Package Size</label>
        <input name="pkg_size" id="pkg_size" type="number" value="1">

        <!--<label for="start">Start Point</label>
        <input name="start" id="start" type="text" value="Karlsruhe Hauptbahnhof">

        <label for="destination">Destination</label>
        <input name="destination" id="destination " type="text" value="Karlsruhe Hauptbahnhof">-->

        <button type="submit">POST/ Create a New Package</button>
    </form>

    <h3>Map</h3>
    <form action="{{ url_for('map.api_map_route')}}" method="POST">
        <label for="start">Start Point</label>
        <input name="start" id="start" type="text" value="Karlsruhe Hauptbahnhof, Germany">

        <label for="end">End Point</label>
        <input name="end" id="end" type="text" value="Karlsruhe Durlach Bahnhof, Germany">

        <button type="submit">POST/ Create Route</button>
    </form>
</body>

</html>